/venv/
__pycache__/
.vscode/

test.db
db.drawio.png
static/periodic-table-bw-download.pdf
v2/d3/course_data_2023.json
v2/static/periodic-table-bw-download.pdf
.DS_Store
.DS_Store
v2/.DS_Store
v2/.DS_Store
